ol{
    background-color: gray;
    padding-left: 30px;
    margin-top: 100px;
}
body{
    background-color: darkgray;
    text-align: center;
    font-family: sans-serif;
}
div#wrapper{
    margin: 20px;
    background-color: lightslategray;
}
div#fotos{
    width: 1800px;
    height: 900px;
    border:solid black 1px;
    margin: auto;
}
div.picture-holder{
    border: solid black 2px;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    float: left;
    background-color: yellow;
}
div#speler1{
    float: left;
    width: 400px;
    height: 250px;
    background-color: lightblue;
}

div#speler2{
    float: right;
    width: 400px;
    height: 250px;
    background-color: red;
}
div#top{
    width: 100%;
    height: 250px;
    display: flex;
}
div#knop{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: sandybrown;
}
div#beurten{
    width: 400px;
    height: 100px;
    margin: auto;
    background-color: aquamarine;
}
img#doof{
    height: 120px;
    width: 120px;
}
img#perry{
    height: 120px;
    width: 120px;
}