div#fotos {
    width: 1000px;
    height: 1000px;
    justify-content: center;
    margin: auto;
}
h3{
    text-align: center;
}
div#wrapper{
    margin: 20px;
    background-color: lightslategray;
}
ol{
    background-color: gray;
    padding-left: 30px;
    margin-top: 100px;
}
body{
    background-color: darkgray;
}
