div#fotos {
    width: 900px;
    height: 1350px;
    border:solid black 1px;
    margin: auto;
}
h3{
    text-align: center;
}
div#wrapper{
    margin: 20px;
    background-color: lightslategray;
}
ol{
    background-color: gray;
    padding-left: 30px;
    margin-top: 100px;
}
body{
    background-color: darkgray;
    text-align: center;
    font-family: sans-serif;
}
div.picture-holder{
    height: 450px;
    width: 300px;
    float: left;
    border: solid black 1px;
    box-sizing: border-box;
}
div.favoriet{
    width: 300px;
    height: 150px;
}
